@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: auto;
    background: url("https://wallpaperaccess.com/full/645620.png") no-repeat fixed;
    background-size: 1400px;
    font-family: "Roboto";
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: none;
}

nav img {
    max-width: 80px;
    margin-left: 50px;
}

nav ul {
    display: flex;
    margin-right: 50px;
    color: white;
    padding: 10px;
}

nav input {
    font-family: "Poppins";
    font-size: 18px;
    padding: 11px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(90deg, rgba(60,53,203,1) 0%, rgba(12,167,199,1) 100%);
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.15s;
}

nav input:hover {
    filter: drop-shadow(-1px 1px 6px white);
}

.header-container {
    display: block;
    margin: auto;
    text-align: center;
}

.header-container img {
    max-width: 300px;
    margin-bottom: -30px;
}